<?xml version="1.0" standalone="no" ?>
<vs>
	<visuals>
		<window size="1800x900" backgroundColor="0xffffff" gradientColor="0x00ffff"/>
		<render shadows="true" grid="true"/>
	</visuals>
	<myTag myVar="1"/>
	<world gridSize="10,10,10" >
		<blockList color="128,128,128">
			<block position="1,1,0"/>
			<block position="2,1,0"/>
			<block position="3,1,0"/>
			<block position="4,1,0"/>
			<block position="5,1,0" leader="true" color="255,255,0"/>
			<block position="2,2,0"/>
			<block position="5,2,0"/>
			<block position="2,3,0"/>
			<block position="3,3,0"/>
			<block position="4,3,0"/>
			<block position="5,3,0"/>
			<block position="2,3,1"/>
			<block position="5,3,1"/>
			<block position="2,3,2"/>
			<block position="5,3,2"/>
			<block position="2,3,3"/>
			<block position="3,3,3"/>
			<block position="4,3,3"/>
			<block position="5,3,3"/>
		</blockList>
	</world>
</vs>