<?xml version="1.0" standalone="no" ?>
<vs>
	<visuals>
		<window size="1800x900" backgroundColor="0xffffff" gradientColor="0x00ffff"/>
		<render shadows="true" grid="true"/>
	</visuals>
	<myTag myVar="1"/>
	<world gridSize="10,10,10" >
		<blockList color="128,128,128">
			<block position="1,1,0" isA="true" color="255,0,0"/>
			<block position="2,1,0"/>
			<block position="3,1,0"/>
			<block position="4,1,0"/>
			<block position="5,1,0"/>
			<!-- Other blocks in your topology -->
		</blockList>
	</world>
</vs>